/* assuming section heading contains [suppressor] suffix */
/* .p-channel_sidebar__static_list__item has `position:absolute` already */

@font-face {
    font-family: "UD デジタル 教科書体 N all";
    src: local("UD デジタル 教科書体 N-R");
    font-weight: 500;
}

@font-face {
    font-family: "UD デジタル 教科書体 N all";
    src: local("UD デジタル 教科書体 N-B");
    font-weight: 600;
}

@font-face {
    font-family: "UD デジタル 教科書体 NP all";
    src: local("UD デジタル 教科書体 NP-R");
    font-weight: 500;
}

@font-face {
    font-family: "UD デジタル 教科書体 NP all";
    src: local("UD デジタル 教科書体 NP-B");
    font-weight: 600;
}

@font-face {
    font-family: "UD デジタル 教科書体 NK all";
    src: local("UD デジタル 教科書体 NK-R");
    font-weight: 500;
}

@font-face {
    font-family: "UD デジタル 教科書体 NK all";
    src: local("UD デジタル 教科書体 NK-B");
    font-weight: 600;
}

[lang=ja-JP] {
    body,
    .c-basic_container,
    .c-texty_input_unstyled,
    .c-menu {
        font-family: Calibri, "UD デジタル 教科書体 NK all", Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    }

    code, pre {
        font-family: "Monaspace Neon", "UD デジタル 教科書体 N all", Monaco, Menlo, Consolas, Courier New, monospace !important;
        font-feature-settings: "calt", "liga", "dlig" !important;
    }

    .p-rich_text_block {
        font-size: 15px;
        line-height: 1.5;
    }
}


@layer modification {
    @layer hide {
        /* hide section after "suppressor section" */
        .p-channel_sidebar__static_list__item:has(> .p-channel_sidebar__section_heading)[aria-label$=\[suppressor\]][aria-expanded=false] ~ .p-channel_sidebar__static_list__item {
            clip: rect(0 0 0 0);
        }

        /* hide unread bottom banner */
        .p-channel_sidebar__banner--bottom.p-channel_sidebar__banner--unreads {
            clip: rect(0 0 0 0);
        }
    }

    /*noinspection CssUnresolvedCustomProperty*/
    @layer power_off {
        /* when Power Off mode */
        body:has(.p-ia__nav__user > span > span > img:where([data-stringify-emoji=":mobile_phone_off:"])) {
            /* make channel plain unless with badge(mention) */

            .p-channel_sidebar__list .p-channel_sidebar__channel--unread:not(:has(> .p-channel_sidebar__channel_suffix > .p-channel_sidebar__badge)) .p-channel_sidebar__name,
                /* make section plain unless with badge(mention) */
            .p-channel_sidebar__list .p-channel_sidebar__section_heading--unreads:not(:has(> .p-channel_sidebar__section_heading_right .p-channel_sidebar__badge)) .p-channel_sidebar__section_heading_label--unreads {
                font-weight: unset !important;
                color: var(--dt_color-content-sec) !important;
            }

            /* make section expander plain unless with badge(mention) */

            .p-channel_sidebar__list .p-channel_sidebar__section_heading--unreads:not(:has(> .p-channel_sidebar__section_heading_right .p-channel_sidebar__badge)) .p-channel_sidebar__section_heading_expand_container {
                color: var(--dt_color-content-sec) !important;
            }

            /* make channel plain in popover menu unless with badge(mention) */

            .c-popover .p-section_menu .p-section_heading_context_menu__channel:not(:has(.c-mention_badge)) .c-channel_entity__name {
                font-weight: unset !important;
            }

            /* hide unread top banner */

            .p-channel_sidebar__banner--top.p-channel_sidebar__banner--unreads {
                clip: rect(0 0 0 0);
            }
        }
    }

    @layer revert {
        .p-channel_sidebar__static_list__item {
            /* if selected channel */

            &:has(> .p-channel_sidebar__channel--selected),
                /* if expanded section */
            &:has(> .p-channel_sidebar__section_heading)[aria-expanded=true],
                /* if collapsed section which has selected channel */
            &:has(> .p-channel_sidebar__section_heading)[aria-expanded=false]:has(+ .p-channel_sidebar__static_list__item .p-channel_sidebar__channel.p-channel_sidebar__channel--selected),
                /* if mentioned channel & section */
            &:has(.p-channel_sidebar__badge),
                /* if section which has mentioned channel */
            &:has(> .p-channel_sidebar__section_heading):has(+ .p-channel_sidebar__static_list__item .p-channel_sidebar__channel .p-channel_sidebar__badge) {
                clip: initial;
            }
        }
    }
}
